---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Heropagetitle from "../../components/heropagetitle.astro";
import { fetchContentfulData } from "../../utils/contentful"; // Import fungsi caching
import type { BlogPost } from "../../lib/contentful";

// Ambil data blog dari cache atau dari Contentful jika cache sudah kadaluarsa
const entries = await fetchContentfulData();

// Mapping data ke format yang digunakan di halaman
const posts = entries.items.map((item) => {
  const { title, slug, description, date, image } = item.fields;
  return {
    title,
    slug,
    description,
    date: new Date(date).toLocaleDateString(),
    imageUrl: image ? image.fields.file.url : null,
  };
});



export const prerender = false; // Menonaktifkan prarendering agar halaman di-render di server
const {
 
  pagetitle = "Blog",
} = Astro.props;

const titlemeta = "Blog Tigrisfire | Informasi & Tips Proteksi Kebakaran Terbaru";
const descriptionmeta = "Temukan informasi terbaru seputar proteksi kebakaran di Blog Tigrisfire. Dapatkan tips, panduan, dan update tentang perangkat pemadam otomatis, fire sprinkler, dan sistem keselamatan kebakaran untuk bisnis Anda.";
const keywordsmeta = "blog proteksi kebakaran, tips keamanan kebakaran, Tigrisfire, sistem pemadam kebakaran, fire sprinkler, fire extinguisher otomatis, keselamatan kebakaran industri, update kebakaran terbaru, solusi kebakaran";

---

<BaseLayout titlemeta={titlemeta} descriptionmeta={descriptionmeta} keywordsmeta={keywordsmeta}>
  <Heropagetitle pagetitle={pagetitle} />

  <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
    <div class="grid gap-10 lg:grid-cols-3 sm:max-w-sm sm:mx-auto lg:max-w-full">
      {posts.map((post) => (
        <div class="overflow-hidden transition-shadow duration-500 bg-white rounded-3xl shadow-lg hover:shadow-gradient transform hover:-translate-y-2 hover:scale-105 p-5 group">
          <a href={`/posts/${post.slug}/`} aria-label="Article">
            <img
              src={post.imageUrl}
              class="object-cover w-full aspect-video rounded-t-lg transition-opacity duration-300 group-hover:opacity-90"
              alt={post.title}
            />
          </a>
          <div class="py-5">
            <p class="mb-2 text-xs font-semibold text-gray-600 uppercase">
              {post.date}
            </p>
            <a
              href={`/posts/${post.slug}/`}
              aria-label="Article"
              class="inline-block mb-3 text-black transition-colors duration-300 hover:text-blue-800">
              <p class="text-2xl font-bold leading-5">{post.title}</p>
            </a>
            <p class="mb-4 text-gray-700 line-clamp-3">{post.description}</p>
          </div>
        </div>
      ))}
    </div>
  </div>

  <style>
    .line-clamp-3 {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  </style>
</BaseLayout>
