---
import BaseLayout from "../layouts/BaseLayout.astro";
import Heropagetitle from "../components/heropagetitle.astro";
import Pasal from "../components/pasal.astro";

const {
  pagetitle = "Maintenance",
  pagesubtitle = "Kami berkomitmen untuk menjaga keselamatan Anda dengan teknologi mutakhir dan tim ahli yang berdedikasi tinggi.",
} = Astro.props;
const titlemeta =
  "Maintenance APAR Profesional | Layanan Perawatan Alat Pemadam - Tigrisfire";
const descriptionmeta =
  "Tigrisfire menyediakan layanan maintenance APAR profesional dan berkualitas. Pastikan alat pemadam kebakaran Anda selalu siap pakai dengan perawatan dari kami. Hubungi sekarang untuk info lebih lanjut!";
const keywordsmeta =
  "maintenance APAR, perawatan alat pemadam kebakaran, service APAR, cek alat pemadam, layanan perawatan APAR, Tigrisfire, inspeksi APAR, maintenance alat pemadam, keamanan APAR, perbaikan alat pemadam api";
---

<BaseLayout
  titlemeta={titlemeta}
  descriptionmeta={descriptionmeta}
  keywordsmeta={keywordsmeta}>
  <Heropagetitle pagetitle={pagetitle} pagesubtitle={pagesubtitle} />

  <section class="py-16 bg-gradient-to-b from-gray-100 via-white to-gray-100">
    <div class="container mx-auto px-4 md:px-12">
      <!-- Header Section -->
      <div class="text-center mb-12">
        <h1 class="text-5xl font-extrabold text-gray-900">
          Perawatan Sistem Proteksi Kebakaran Tigrisfire
        </h1>
        <p class="mt-4 text-lg text-gray-600">
          Pemeliharaan rutin adalah kunci untuk menjaga keandalan sistem
          proteksi kebakaran Anda. Dengan pengecekan dan perawatan berkala, Anda
          dapat mencegah masalah sebelum terjadi, dan memastikan perlengkapan
          berfungsi dengan optimal setiap saat.
        </p>
      </div>

      <!-- Service Section -->
      <div class="grid grid-cols-1 md:grid-cols-3 gap-12">
        <!-- Service 1 -->
        <div
          class="bg-white p-6 rounded-3xl shadow-lg hover:shadow-xl transition-all duration-500 hover:-translate-y-2 hover:scale-105">
          <div class="flex justify-center mb-6">
            <div
              class="w-16 h-16 rounded-full bg-blue-100 flex items-center justify-center">
              <img
                src="/maintenceicon/pengecekanicon.webp"
                alt="pengecekanicon"
                class="p-2"
              />
            </div>
          </div>
          <h2 class="text-2xl font-bold text-blue-600 text-center">
            Pemeriksaan Rutin
          </h2>
          <p class="text-gray-700 mt-4 text-center">
            Pemeriksaan secara berkala membantu mendeteksi masalah sebelum
            berkembang. Kami merekomendasikan pemeriksaan sistem kebakaran
            setiap 6 hingga 12 bulan.
          </p>
        </div>

        <!-- Service 2 -->
        <div
          class="bg-white p-6 rounded-3xl shadow-lg hover:shadow-xl transition-all duration-500 hover:-translate-y-2 hover:scale-105">
          <div class="flex justify-center mb-6">
            <div
              class="w-16 h-16 rounded-full bg-green-100 flex items-center justify-center">
              <img
                src="/maintenceicon/maintenceicon.webp"
                alt="maintenceicon"
                class="p-2"
              />
            </div>
          </div>
          <h2 class="text-2xl font-bold text-green-600 text-center">
            Perbaikan Cepat
          </h2>
          <p class="text-gray-700 mt-4 text-center">
            Jika ditemukan kerusakan, baik kecil maupun besar, tim ahli kami
            siap untuk melakukan perbaikan dengan cepat, sehingga sistem Anda
            dapat kembali beroperasi normal.
          </p>
        </div>

        <!-- Service 3 -->
        <div
          class="bg-white p-6 rounded-3xl shadow-lg hover:shadow-xl transition-all duration-500 hover:-translate-y-2 hover:scale-105">
          <div class="flex justify-center mb-6">
            <div
              class="w-16 h-16 rounded-full bg-orange-100 flex items-center justify-center">
              <img
                src="/maintenceicon/perbaikanicon.webp"
                alt="pergantian"
                class="p-2"
              />
            </div>
          </div>
          <h2 class="text-2xl font-bold text-orange-600 text-center">
            Penggantian Peralatan
          </h2>
          <p class="text-gray-700 mt-4 text-center">
            Untuk alat proteksi yang sudah tidak layak pakai atau sudah mencapai
            batas usianya, kami siap menyediakan solusi penggantian dengan
            peralatan terbaru dan sesuai standar.
          </p>
        </div>
      </div>
    </div>

    <!-- CTA Section -->
    <div class="mt-16 bg-gray-900 py-12">
      <div class="container mx-auto px-4 md:px-12 text-center text-white">
        <h2 class="text-4xl font-extrabold">
          Lindungi Aset Anda dengan Layanan Kami
        </h2>
        <p class="mt-4 text-lg">
          Jamin keamanan aset dan properti Anda dengan layanan proteksi
          kebakaran dari Tigrisfire. Hubungi kami sekarang untuk konsultasi
          gratis.
        </p>
        <a
          href="https://wa.me/6281382529368?text=Hallo%20Tigrisfire%20Saya%20Mau%20Maintenance"
          class="inline-block mt-8 px-8 py-4 bg-gradient-to-r from-blue-500 via-blue-600 to-blue-800 text-white font-bold rounded-full shadow-lg hover:shadow-xl transition-transform duration-300 hover:scale-105"
          >Hubungi Kami</a
        >
      </div>
    </div>
  </section>

  <Pasal />
</BaseLayout>
