---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Heropagetitle from "../../components/heropagetitle.astro";
import { Image } from "astro:assets";
import Kategoriapar from "../../components/kategoriapar.astro";

const {
  titlemeta = "Hubungi Kami",
  descriptionmeta = "AMANKAN ASSET BERHARGAMU DI MASA DEPAN DENGAN KAMI AHLINYA",
  pagetitle = "APAR-Alat Pemadam Api Ringan",
} = Astro.props;

import foamApar from "../../assets/foam-apar.webp";
import powderApar from "../../assets/powder-apar.webp";
import co2Apar from "../../assets/co2-apar.webp";
---

<BaseLayout titlemeta={titlemeta} descriptionmeta={descriptionmeta}>
  <Heropagetitle pagetitle={pagetitle} />
  <Kategoriapar />

  <!-- Final CTA Section -->
  <div class="text-center shadow-md pb-12 pt-12 bg-blue-200">
    <h3 class="text-3xl font-bold text-gray-900">
      Semua Jenis dan Merek APAR Tersedia di Kami
    </h3>
    <p class="mt-4 text-gray-600">
      Tersedia berbagai jenis APAR, mulai dari APAR Powder hingga CO2 dan Foam.
      Garansi kualitas terbaik untuk setiap layanan kami.
    </p>
    <a
      href="https://wa.me/6281382529368?text=Hallo%20Tigrisfire%20Saya%20Mau%20Beli%20APAR
"
      class="mt-6 inline-block px-8 py-3 bg-gradient-to-r from-blue-500 to-blue-800 hover:bg-blue-700 text-white font-bold rounded-full shadow-lg hover:shadow-xl transition-transform hover:scale-105"
      >Pesan Disini</a
    >
  </div>

  <!-- Produk APAR Section -->
  <section class="container mx-auto mt-10 p-6">
    <h2 class="text-3xl font-bold text-gray-900 mb-6 text-center">
      Pilihan Produk APAR
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <!-- Foam APAR Product Card -->
      <div class="bg-blue-500 shadow-md rounded-lg p-6">
        <Image
          src={foamApar}
          alt="Foam APAR"
          class="w-full object-square rounded-lg"
        />
        <h3 class="text-xl font-bold text-gray-50 mt-4">Foam APAR</h3>
        <p class="text-white mt-2">
          APAR Foam digunakan untuk kebakaran kelas A dan B, terutama untuk
          kebakaran minyak dan cairan.
        </p>
      </div>

      <!-- Powder APAR Product Card -->
      <div class="bg-blue-500 shadow-md rounded-lg p-6">
        <Image
          src={powderApar}
          alt="Powder APAR"
          class="w-full object-square rounded-lg"
        />
        <h3 class="text-xl font-bold text-gray-50 mt-4">Powder APAR</h3>
        <p class="text-white mt-2">
          APAR Powder cocok untuk semua kelas kebakaran, terutama untuk
          kebakaran jenis padat, cair, dan gas.
        </p>
      </div>

      <!-- CO2 APAR Product Card -->
      <div class="bg-blue-500 shadow-md rounded-lg p-6">
        <Image
          src={co2Apar}
          alt="CO2 APAR"
          class="w-full object-square rounded-xl"
        />
        <h3 class="text-xl font-bold text-gray-50 mt-4">CO2 APAR</h3>
        <p class="text-white mt-2">
          APAR CO2 ideal untuk kebakaran elektrik, bekerja cepat memadamkan api
          tanpa meninggalkan residu.
        </p>
      </div>
    </div>
  </section>
</BaseLayout>
